/*Медиа запросы блока header*/

@media (max-width: 1240px) {

    .header-container__menu {
        max-width: 910px;
        width: 100%;
    }

    .title-text {
        max-width: 442px;
    }
}

/*Медиа запросы блока Выбери тур create*/

@media (max-width: 1240px) {

    .tour-selection__cards {
        display: flex;
        justify-content: center;
        gap: 18px;
    }

    .tour-selection__card {
        max-width: 450px;

    }
}

/*Блок собери свой тур*/

@media (max-width: 1240px) {

    .tour-create__form-wrapper {

        max-width: 918px;
        padding: 60px;
    }

    .form__input {

        width: 389px;
        height: 68px;
        margin-right: 0px;

    }

    .form_in {

        width: 389px;
        height: 104px;

    }

    .form__row {

        width: 798px;
        height: 104px;
        margin-right: 0px;
        gap: 20px;
    }

    textarea {

        width: 798px;
        height: 152px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .form__row {

        gap: 33px;
    }

    .form__agreement-text {
        padding-left: 10px;
        margin-top: 3px;
        font-size: 16px;
        text-align: left;
        display: inline;
        max-width: 510px;
    }

}

@media (max-width: 1030px) {

    .form__agreement {
        align-items: flex-start;
    }
}

/*Медиа запросы блока reviews(Отзывы)*/

@media (max-width: 1240px) {

    .card__rev {

        width: 450px;
        height: 841px;
    }

    .reviews__cards {

        gap: 18px;
    }

}

/*Медиа запросы блока photo (Фото путешественников)*/

@media (max-width: 1240px) {

    .main__photos {
        /* margin-right: 20px;
        margin-left: 20px;*/
    }

    .photos__traveler {
        gap: 30px;
        max-width: 990px;
    }

    .hide {

        display: none;
    }

    .photo_grid4 .img {

        max-width: 314px;

    }

    .photo_grid4 {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .photo_grid5 {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .photo_grid5 .img {

        max-width: 231px;

    }


}

/*Блок history (Истории путешествий)*/

@media (max-width: 1240px) {

    .card_his {

        width: 918px;
        height: 567px;
        overflow: hidden;
        background-size: 130% auto;
    }

}



/*Блок footer*/

@media (max-width: 1240px) {

    .foot_t {
        gap: 288px;
    }
}