
@media (max-width: 500px) {
    h1 {
        font-size: 34px;
        font-weight: var(--font-weight-bold);
        line-height: 112%;
        letter-spacing: 0.02em;
    }

    .header-container__title-text {
        gap: 39px;
    }

    .header-container__button {
        max-width: 118px;
        width: 100%;
        padding: 8px 21px 5px 20px;
        letter-spacing: -0.01em;
    }

}

@media (max-width: 450px) {
    .header-container__menu {
        position: fixed;
        top: 0px;
        background-color: rgba(243, 239, 232, 0.6);
        width: 100%;
        max-height: 23px;
    }

    .header-container__logo_white {
        display: none;
    }

    .header-container__logo_dark {
        display: inline;
        max-width: 133px;
        max-height: 22px;
        width: 100%;
        height: 100%;
    }

    .header-container__title {
        padding-top: 124px;
        padding-bottom: 52px;
    }

    .header-container__menu-link {
        max-width: 124px;
        max-height: 23px;
        font-size: 16px;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-big);
        color: rgba(27, 31, 43, 1);
        align-items: center;
        margin-top: 3px;
    }

    .title-text {
        max-width: 310px;
        max-height: 69px;
    }
}

@media (max-width: 500px) {
    .reviews__card_small {
        max-width: 318px;
        width: 100%;
        max-height: 408px;
        height: 100%;
        padding-top: 23px;
    }

    .reviews__card-text {
        font-size: 16px;
        max-width: 277px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-big);
    }

    .card__autor-info {
        gap: 12px;
        max-height: 59px;
        height: 100%;
        margin-top: 13px;
    }

    .reviews__card_high {
        max-width: 318px;
        max-height: 592px;
        padding-top: 25px;
    }
}

@media (max-width: 500px) {
    .tour-create__form-wrapper {
        gap: 0px;
        padding: 17px 20px 40px 16px;
        max-width: 318px;
        min-height: 1110px;
        border-radius: 30px;
    }

    .form__dropdown-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .form__input {
        width: 278px;
        height: 43px;
        margin: 0px;
        padding: 6px;
        font-size: 16px;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-big);
    }

    option {
        font-size: 16px;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-big);
    }

    .tour-create__header {
        padding-bottom: 40px;
    }

    .form__buttons {
        display: inline-flex;
        margin-top: 3px;
    }

    .form__button-find,
    .form__button-reset {
        width: 134px;
        height: 47px;
        margin-right: 10px;
        font-size: 16px;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-big);
    }

    textarea {
        width: 278px;
        height: 132px;
        padding: 0px;
    }

    .form__row {
        display: flex;
        flex-direction: column;
        max-width: 278px;
        height: auto;
        gap: 25px;
    }

    .form__radio-input {
        width: 20px;
        height: 20px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form__radio-input:checked+.form__radio-button_style::before {
        content: " ";
        display: block;
        width: 7px;
        height: 7px;
    }

    .checkbox__input {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .form__radio-group {
        max-width: 278px;
        width: 100%;
        margin-top: 3px;
        gap: 5px;
    }
}

@media (max-width: 500px) {
    .tour-selection {
        padding-bottom: 75px;
    }

    h2 {
        font-weight: var(--font-weight-bold);
        font-size: 34px;
        line-height: 112%;
        padding-top: 75px;
        padding-bottom: 25px;
        letter-spacing: 0.02em;
    }

    h3 {
        font-size: var(--font-size-text-big);
        font-weight: var(--font-weight-bold);
        line-height: 120%;
        letter-spacing: 0.04em;
    }

    .card-price {
        margin-top: 12px;
        font-size: 16px;
        letter-spacing: -0.01em;
    }

    .tour-selection__card-icon {
        font-weight: var(--font-weight-bold);
        font-size: 16px;
        line-height: var(--line-height-big);
        padding-left: 20px;
        margin-left: -20px;
    }

    .tour-selection__cards {
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }

    .tour-selection__link {
        font-weight: var(--font-weight-bold);
        font-size: 16px;
        line-height: var(--line-height-big);
    }

    .tour-selection__link--orange {
        margin-top: 3px;
        padding-bottom: 0px;
    }

    .tour-selection__links {
        font-size: 16px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-big);
        max-width: 282px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 11px;
        padding-bottom: 0px;
        height: auto;
        margin-top: 2px;
    }

    .tour-selection__card {
        min-width: 318px;
        width: 100%;
        min-height: 318px;
        height: 100%;
        border-radius: 20px;
    }

    .tour-selection__card-link {
        padding: 0px 25px 19px 25px;

    }

    .link-more__card-icon {
        margin-top: -3px;
    }

    .tour-selection__card-text {
        margin: 0px;
        padding: 25px 25px 0px 25px;
    }

    label {
        font-size: 16px;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-big);
    }

    .form__agreement-text {
        max-width: 248px;
        padding-left: 10px;
    }

    .form__agreement {
        max-width: 278px;
        margin-top: 2px;
    }

    .form__radio-buttons {
        gap: 29px;
    }
}

@media (max-width: 500px) {
    .gallery__row_4-items {
        gap: 13px;
    }

    .gallery__image {
        height: 110px;
        border-radius: 20px;
    }

    .gallery__row_narrow {
        gap: 10px;
    }

    .gallery__image_narrow {
        max-width: 99px;
        width: 100%;
    }

    .gallery__image_wide {
        max-width: 150px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .tour-history__card {
        max-width: 318px;
        max-height: 455px;
        border-radius: 20px;
    }

    .tour-history__card-text {
        padding: 30px 0px 0px 30px;
    }

    .tour-history__link-container {
        padding-top: 0px;
        margin-left: 30px;
        margin-bottom: 22px;
    }

    .tour-history__menu-list {
        font-size: 16px;
    }

    .menu__list-items {
        display: flex;
        flex-direction: column;
        letter-spacing: 0.02em;
        margin-top: 12px;
        padding-left: 25px;
    }

    .link-more {
        padding-left: 20px;
    }

    .link-more:active {
        border-radius: 50px;
        padding: 7px 20px 7px 20px;
        background-color: var(--color-orange-200);
    }
}

@media (max-width: 500px) {
    .tour-contacts__photo {
        max-width: 130px;
        height: 133px;
    }
}

@media (max-width: 500px) {
    .footer__links {
        gap: 10px;
    }

    .footer-wrapper {
        gap: 10px;
    }
}